.blue-dark{
  background: $blue-base !important;
}
.orange-dark{
  background: $orange-base !important;
}
.blue-light{
  background: $blue-light-base !important;
}
.green-dark{
  background: $green-base !important;
}
.black-light{
  background: $text-color !important;
}
.text-blue-dark{
  color: $blue-base !important;
}
.text-orange-dark{
  color: $orange-base !important;
}
.text-blue-light{
  color: $blue-light-base !important;
}
.text-green-dark{
  color: $green-base !important;
}
.text-black-light{
  color: $text-color !important;
}
.text-white{
  color: $white-base !important;
}