#tabs{
    margin-top: 30px;
    ul{
        padding: 0;
        margin: 0 0 20px 0;
    }
}
.ui-tabs-nav{
    li{
        display: inline-block;
        background: $white-base;
        cursor: pointer;
        border:none;
        a{
           color: #bdc3c7;
           display: block;
           padding: 15px 35px;
           font-weight: 600;
           &:hover{
              color: #bdc3c7 !important;
           }
        }
        &.ui-tabs-active{
           border-top: 5px solid $green-base;
           -moz-box-shadow: 0 1px 1px rgba(225,230,234,.75);
           -webkit-box-shadow: 0 1px 1px rgba(225,230,234,.75);
           box-shadow: 0 1px 1px rgba(225,230,234,.75);
           a{
              color: $blue-base !important;
              font-weight: bold;
           }
        }
    }
}