.list-profiles{
  list-style:none;
  padding:0;
  margin:0;
  li{
    background: $white-base;
    padding:15px;
    margin-bottom: 10px;
    display: block;
    .avatar-proflie {
      width: 48px;
      height: 48px;
      display: inline-block;
      float: left;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      overflow: hidden;
      margin-right: 15px;
    }
    .avatar-proflie img{
      width:100%;
      height:auto;
    }
    .user-proflie{
      width: 70%;
      width: calc(100% - 65px);
      overflow: hidden;
      .name{
        color: $blue-base;
        font-size: 15px;
        font-weight: 700;
        display:block;
      }
      .position{
        color: $green-base;
        font-size: $font-size-small;
      }
    }
  }
}
.rate-it,
.rating-it i {
  color: rgb(255, 198, 0);
}
.rate-it i.off {
  color : #656E78;
}
.rate-it .fa-star-o:before{
  content: "\f005" !important;
  color: #666f78;
}