/*!
 * Declare Sass Font Face EngineThemes (http://enginethemes.com)
 */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
.thin{
  font-weight: 100;
}
.extra-light{
  font-weight: 200;
}
.light{
  font-weight: 300;
}
.normal{
  font-weight: 400;
}
.semi-bold{
  font-weight: 600;
}
.extra-bold{
  font-weight: 800;
}
.bold{
  font-weight: 900;
}